header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;    
    
}

.active { 
    color: rgba(255, 0, 0, 0.771);
}